*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

.grid{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo logo productos quien "
    "logo logo servicios contacto";
   
    gap: 1rem;
}

.gridHijo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.logo{
background-color: aqua;
grid-area: logo;
}

.quien{
background-color: blue;
grid-area: quien;
}

.productos{
background-color: blueviolet;
grid-area: productos;

}

.servicios{
background-color: chartreuse;
grid-area: servicios;
}

.contacto{
background-color: crimson;
grid-area: contacto;
}