
$colorCelestePastel: #99e1d9;
$colorCeleste:#70abaf;
$colorGrisBerenjena:#32292F;
$colorGris:#705d56;
$colorBlancoGrisaceo:#F0f7f4;
$colorBlanco:#fff;

$fuentePrincipal:sanchez;
$fuenteTitulo:satisfy;
$fuenteBrand:moon dance;
